@{
    ViewData["Title"] = "Order Confirmation";
}

<section class="bg-gray-7">
    <div class="breadcrumbs-custom box-transform-wrap context-dark">
        <div class="container">
            <h3 class="breadcrumbs-custom-title">Order Confirmation</h3>
            <div class="breadcrumbs-custom-decor"></div>
        </div>
        <div class="box-transform" style="        background-image: url(../images/bg-1.jpg);">

        </div>
    </div>
    <div class="container">
        <ul class="breadcrumbs-custom-path">
            
        </ul>
    </div>
</section>



<section class="section section-lg bg-default text-md-left">
    <div class="container">
        <div class="row row-60 justify-content-center flex-lg-row-reverse">
            <div class="col-md-8 col-lg-6 col-xl-5">
                <div class="offset-left-xl-70">
                    <h3 class="heading-3">Order Confirmed</h3>
                    <div class="slick-quote">
                        <!-- Slick Carousel-->
                        <div class="slick-slider carousel-parent" data-autoplay="true" data-swipe="true" data-items="1" data-child="#child-carousel-5" data-for="#child-carousel-5" data-slide-effect="true">
                            <div class="item">
                                <!-- Quote Modern-->
                                <article class="quote-modern">
                                    <h5 class="quote-modern-text"><span class="q">We have recieved your inquiry and someone from our team will contact you shortly! Please check your Email to find your orders summary</span></h5>
                                    <h5 class="quote-modern-author">PizzaHouse,</h5>
                                    <p class="quote-modern-status">Manager</p>
                                </article>
                            </div>
                           
                        </div>
                       
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xl-7">
                <img src="~/images/wp-say-669x447.jpg" alt="" width="669" height="447" />
            </div>
        </div>
    </div>
</section>


