@model NavCart

<div class="rd-navbar-main">
    <!-- RD Navbar Nav-->
    <ul class="rd-navbar-nav">
        <li class="rd-nav-item">
            <a class="rd-nav-link" asp-controller="Home" asp-action="Index">Home</a>
        </li>
        <li class="rd-nav-item">
            <a class="rd-nav-link" asp-controller="Home" asp-action="About">About us</a>
        </li>
        <li class="rd-nav-item">
            <a class="rd-nav-link" asp-controller="Meals" asp-action="Menu">Menu</a>
        </li>
        <li class="rd-nav-item">
            <a class="rd-nav-link" asp-controller="Home" asp-action="Booking">Booking</a>
        </li>
        <li class="rd-nav-item">
            <a class="rd-nav-link" asp-controller="Home" asp-action="Contact">Contacts</a>
        </li>

        <li class="rd-nav-item shopping-cart">
            <a asp-controller="Cart" asp-action="Index" class="cart rd-nav-link">
                <span>
                    <small>
                        @Model.nb

                    </small>
                    <i class="fa fa-shopping-cart"></i>
                </span>
            </a>
        </li>


    </ul>
</div>